<h1 class="h2 text-center my-2">Cotação Diária</h1>

<table class="table table-striped table-dark " style="max-width: 1000px;">
  <thead>
    <tr>
      <th scope="col">Dólar Americano</th>
      <th scope="col">Euro</th>
      <th scope="col">BitCoin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of this.wallet.bitCoinRatesUSD; index as i">
      <td>{{
        (rate.bpi.BRL.rate_float / rate.bpi.USD.rate_float).toFixed(3)
      }}</td>
      <td>{{
        (
          rate.bpi.BRL.rate_float /
          this.wallet.bitCoinRatesEUR[i].bpi.EUR.rate_float
        ).toFixed(3)
      }}</td>
      <td>{{ rate.bpi.BRL.rate_float.toFixed(3) }}</td>
    </tr>
  </tbody>
</table>